body {
    background: #efa29b; /* no CSS3 support */
    background: -webkit-linear-gradient(#efa29b, #32020b); /* Safari 5.1 to 6.0 */
    background: -moz-linear-gradient(#efa29b, #32020b); /* Firefox 3.6 to 15 */
    background: linear-gradient(#efa29b, #32020b); /* Standard */
    background-attachment: fixed;
    padding: 10%;
}

h1 {
    font-family: 'Fredericka the Great', 'Times New Roman';
    font-size: 500%;
    color: #ffffff;
    text-align: center;
}

h3 {
    font-family: 'Fredericka the Great', 'Times New Roman';
    font-size: 200%;
    color: #000000;
    text-align: center;
}

h6 {
    font-family: 'IM Fell English';
    font-size: 100%;
    color: #ffffff;
}
    
p {
    font-family: 'IM Fell English';
    font-size: 100%;
    color: #000000;
}

a {
    font-family: 'IM Fell English';
    font-size: 100%;
    color: #ffffff;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  padding: 5%;
  background-color: none;
}
    
.homeBox {
  align: center;
  display: inline-block;
  width: 200px;
  height: 200px;
}

.artBox {
  display: inline-block;
  width: 275px;
  height: 275px;
  margin: 5%;
}

.grow {
  height: 20px;
  transition: height .5s;
  -webkit-transition: height .5s;
  overflow: hidden;
}

.grow:hover {
  height: 100%;
}

footer {
    align: "center";
    font-family: 'IM Fell English';
    font-size: 100%;
    color: #ffffff;
}

/*http://codepen.io/ianfarb/pen/ikeAf*/
