body {
    background: #efa29b; /* no CSS3 support */
    background: -webkit-linear-gradient(#efa29b, #32020b); /* Safari 5.1 to 6.0 */
    background: -moz-linear-gradient(#efa29b, #32020b); /* Firefox 3.6 to 15 */
    background: linear-gradient(#efa29b, #32020b); /* Standard */
    background-attachment: fixed;
    padding: 10%;
}

h1 {
    font-family: 'Fredericka the Great';
    font-size: 500%;
    color: #ffffff;
    text-align: center;
}

h3 {
    font-family: 'Fredericka the Great';
    font-size: 200%;
    color: #000000;
    text-align: center;
}

h6 {
    font-family: 'IM Fell English';
    font-size: 100%;
    color: #ffffff;
}
    
p {
    font-family: 'IM Fell English';
    font-size: 100%;
    color: #000000;
    text-align: left;
}

a {
    font-family: 'IM Fell English';
    font-size: 100%;
    color: #ffffff;
    text-decoration: none;
}

h1.zeroSpace {
    padding: 0px;
    margin: 0px;
}

h3.zeroSpace {
    padding: 0px;
    margin: 0px;
}

a.zeroSpace:hover {
    color: #32020b;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  padding: 5%;
  background-color: none;
  /*float: left;*/
}
    
.artBox {
  display: inline-block;
  width: 275px;
  height: 275px;
  margin: 5%;
}

.grow {
  height: 20px;
  transition: height .5s;
  -webkit-transition: height .5s;
  overflow: hidden;
}

.grow:hover {
  height: 100%;
}

footer {
    align: "center";
    font-family: 'IM Fell English';
    font-size: 100%;
    color: #ffffff;
}

.homeBox1 {  
    align: center;
    display: inline-block;
    width:200px;
    height:200px;
    background:url(/images/about1_copy.svg);
    background-size:cover;
    overflow:hidden;
}

.homeBox2 {  
    align: center;
    display: inline-block;
    width:200px;
    height:200px;
    background:url(/images/about2.svg);
    background-size:cover;
    overflow:hidden;
}

.homeBox3 {  
    align: center;
    display: inline-block;
    width:200px;
    height:200px;
    background:url(/images/about3.svg);
    background-size:cover;
    overflow:hidden;
}

.homeBox4 {  
    align: center;
    display: inline-block;
    width:200px;
    height:200px;
    background:url(/images/about4.svg);
    background-size:cover;
    overflow:hidden;
}

.overlay    {  text-align:center;
               background:url(/images/about_hover-01-01.svg);
               padding:40% 0% 100% 0%;
               opacity:0;
               -webkit-transition: opacity .1s ease;
               -moz-transition: opacity .1s ease;
}

.homeBox1:hover .overlay {
               opacity:.75;
}

.homeBox2:hover .overlay {
               opacity:.75;
}

.homeBox3:hover .overlay {
               opacity:.75;
}

.homeBox4:hover .overlay {
               opacity:.75;
}

.homeText {  font-family: 'Fredericka the Great';
             font-weight: 900;
             font-size:200%;
             color: #32020b;
}